.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  color: #386d57;
}

.header {
  background: #baead6;
}

.header h1 {
  margin: 0px auto;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.footer {
  background-color: #baead6;
  text-align: center;
  height: 70px;
  align-items: center;
  justify-content: center;
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; 

}

.footerIcons {
 text-align: right;
  padding-right: 30px;
}
.footerIcons a {
  color: #386d57;
}

.footer small {
  text-align: left;
  padding-left: 30px;
}

/* CSS för Home */
.divPostList {
   margin: 0 25% 0 25%; 
}

.postList {
  color: #6fc5a1;
  font-size: 18px;
  height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px;
  padding: 0 7px 0 7px;
  border-left: 2px ridge #49886e;
  border-right: 2px ridge #49886e;
  border-radius: 10px;
}

a:-webkit-any-link {
  text-decoration: none;
}

.postList:hover {
  color: #49886e;
  background-color: #d1ebe0;
}

/* CSS för PostPage */
.backToStart {
  margin-top: 10px;
}

.imgBody {
  display: grid;
  margin: 2% 15% 4% 15%;
  grid-template-columns: 3fr 2fr;
}

.postBody {
  padding: 5px;
}

.placeHolder {
  width: 100%;
  padding: 5px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.placeHolder img {
  width: 100%;
}

button {
  height: 35px;
  width: 170px;
  border: none;
  border-radius: 10px;
  border-left: 2px ridge #49886e;
  border-right: 2px ridge #49886e;
  background-color: #baead6 ;
  color: #49886e; 
  font-size: medium;
  
}

button:hover {
  background-color: #87d4b2;
  -webkit-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.31); 
  box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.31);
}

/* CSS för Author */
.author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  font-size: small;
}

.authorName {
  display: grid;
  align-items: center;
  text-align: left;
}

.authorName svg {
  padding-right: 5px;
}

.authorDate {
  text-align: right;
}

/* CSS för kommentarerna */
.divComments {
  margin: 0 20% 0 20%;
  text-align: left;
  margin-bottom: 100px;
}

.userInfo {
  display: grid;
  grid-template-rows: 25px 40px;
}

.commentName {
  font-weight: bold;
}

.commentEmail {
  font-style: italic;
}

.divComments > div{
  margin: 0 10px 40px 10px;
  padding-left: 10px;
}

/* CSS för paginering */
 .paginationBttns {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.paginationBttns a {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #49886e;
  color: #6fc5a1;
  cursor: pointer;
}

/* Style på de sidorna man drar musen över */
.paginationBttns a:hover {
  color: #6fc5a1;
  background-color: #d1ebe0;
}

/* Den aktuella sidan man står på */
.paginationActive a {
  color: #6fc5a1;
  background-color: #d1ebe0;
} 

/* Avaktiverade knappar - Previous + Next när man inte kan hoppa längre på det hållet */
 .paginationDisabled a {
  color: #9da5a2;
  background-color: #d7dfdb;
} 

/* Avaktiverade knappar - hover */
.paginationDisabled a:hover {
  color: #9da5a2;
  background-color: #d7dfdb;
  cursor: default;
} 